* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  max-width: 600px;
  min-width: fit-content;
  margin: 64px auto;
}

.intro-chunk {
  padding: 0px 16px;
  max-width: 360px;
}

.title {
  font-size: 2rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  border-top: 8px solid hsl(0deg, 0%, 60%);
  background-color: hsl(0deg, 0%, 40%);
  padding: 32px auto;
  width: auto;
  height: auto;
}

section.max-width-wrapper {
  background-color: hsl(0deg, 0%, 40%);
  padding-bottom: 64px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  max-width: 600px;
  padding: 8px;
}

.indented-heading {
  font-size: 1.25rem;
  background-color: hsl(45deg, 100%, 50%);
  margin-left: -16px;
  margin-top: 0px;
  padding: 8px 16px;
  width: fit-content;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}
